.projects {
  padding-bottom: 2rem;
}

.list-projects .card {
  font-size: xx-small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list-projects .card:hover {
  cursor: pointer;
  transform: scale(1.04);
  opacity: 0.5;
}

.list-projects .card p {
  font-size: small;
  font-family: 'Noto Sans Mono', serif;
  margin: 0%;
  padding: 0%;
}

.list-projects .card .title {
  font-size: larger;
  color: white;
  font-family: 'IBM Plex Mono', serif;
  font-weight: 900;
}

@media (min-width: 468px) {
  .list-projects .card {
    font-size: larger;
    display: flex;
    padding: 40px;
    padding-inline: 20px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }
}
