.skills {
  padding-bottom: 2rem;
}

.list-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-items {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.img-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 140%;
  transform: translateX(-50%);
  left: 50%;
  background-color: rgb(36, 32, 32);
  padding: 0.5em;
  white-space: nowrap;
  border-radius: 6px;
  z-index: 1;
}

.skill-items:hover .img-tooltip {
  visibility: visible;
  opacity: 1;
}
